* {
  margin: 0;
}
ul {
  list-style: none;
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
:root {
  --background-page-color: #e5e5e5;
  --header-background: #ffffff;
  --main-text-color-black: #212121;
  --logo-black: #000000;
  --footer-color-background: #2f303a;
  --brand-color-blue: #2196f3;
  --contact-color: #757575;
  --portfolio-button-crew-color: #f5f4fa;
  --contact-color-footer: rgba(255, 255, 255, 0.6);
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color-black);
}
header {
  background-color: var(--header-background);
}
.top-menu-link {
  color: inherit;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.span-color {
  color: var(--brand-color-blue);
}
.navigation a,
.contact a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navigation a {
  color: inherit;
}
.navigation a:hover,
.contact a:hover {
  color: var(--brand-color-blue);
}
.contact a {
  color: var(--contact-color);
}
.main-title h1 {
  color: var(--header-background);
  background-color: var(--footer-color-background);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.description li h3 {
  color: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.description li p {
  color: var(--contact-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.tasks1 {
  color: inherit;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.our-team {
  background-color: var(--portfolio-button-crew-color);
}
.team {
  color: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
figure {
  background-color: var(--header-background);
}
figcaption h4 {
  color: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
figcaption p {
  color: var(--contact-color);
  font-weight: 400px;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0.03em;
  line-height: 1.19;
  text-decoration: none;
}
.footer {
  background-color: var(--footer-color-background);
}
.bottom-menu-link {
  color: var(--header-background);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.adress {
  color: var(--header-background);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.contact-footer {
  color: var(--contact-color-footer);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-footer:hover {
  color: var(--brand-color-blue);
}
