* {
  margin: 0;
}
ul {
  list-style: none;
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}

:root {
  --background-page-color: #e5e5e5;
  --header-background: #ffffff;
  --main-text-color-black: #212121;
  --logo-black: #000000;
  --footer-color-background: #2f303a;
  --brand-color-blue: #2196f3;
  --contact-color: #757575;
  --portfolio-button-crew-color: #f5f4fa;
  --contact-color-footer: rgba(255, 255, 255, 0.6);
}

.body {
  font-family: "Roboto", sans-serif;
}
header {
  background-color: var(--header-background);
}
.top-menu-link {
  color: var(--logo-black);
  font-family: Roboto;
  font-weight: 700px;
  font-size: 26px;
  line-height: 1.2px;
}
.span-color {
  color: var(--brand-color-blue);
}
.navigation a {
  color: var(--main-text-color-black);
  font-weight: 500px;
  font-size: 14px;
  line-height: 16.41px;
}
.navigation a:hover {
  color: var(--brand-color-blue);
}

.contact a {
  color: var(--contact-color);
  font-weight: 500px;
  font-size: 14px;
  line-height: 16.41px;
}
.contact a:hover {
  color: var(--brand-color-blue);
}

.main-title {
  color: var(--header-background);
  background-color: var(--footer-color-background);
  font-weight: 900px;
  font-size: 44px;
  line-height: 60px;
}

.description li h3 {
  color: var(--main-text-color-black);
  font-weight: 700px;
  font-size: 14px;
  line-height: 16.41px;
}
.description li p {
  color: var(--contact-color);
  font-weight: 400px;
  font-size: 14px;
  line-height: 24px;
}

.tasks1 {
  font-size: 36px;
  font-weight: 700px;
  color: var(--main-text-color-black);
}
.our-team {
  background-color: var(--portfolio-button-crew-color);
}
.team {
  font-weight: 700px;
  font-size: 36px;
  color: var(--main-text-color-black);
}
figure {
  background-color: var(--header-background);
}
figcaption h4 {
  color: var(--main-text-color-black);
  font-weight: 500px;
  font-size: 16px;

}
figcaption p {
  color: var(--contact-color);
  font-weight: 400px;
  font-size: 16px;
  
}
.footer {
  background-color: var(--footer-color-background);

  font-weight: 400px;
  font-size: 14px;
  line-height: 24px;
}
.bottom-menu-link {
  color: var(--header-background);
  font-family: Raleway;
  font-weight: 700px;
  font-size: 26px;
  line-height: 1.2px;
}
.adress {
  color: var(--header-background);
}
.contact-footer {
  color: var(--contact-color-footer);
}
.contact-footer:hover {
  color: var(--brand-color-blue)
}